@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.p-menuitem{
    background-color: #212121;

}

.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content{
    background-color: #212121;
}

.p-menubar .p-menubar-button:hover{
    background: #000;
}
.p-menubar .p-menubar-button:hover{
    box-shadow: #000 !important;
}
.p-menubar .p-menubar-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset !important;
}